.hwBlock{
    padding: 10px 0 0 0;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;

}
.peopleContainer{
    display: flex;
    justify-content: center;
    background: #3d91e4;
    width: 430px;
    height: 120px;
    opacity:.5;
    border-radius: 15px;
}

.peopleBlock{
    color: #ffffff;
    display: flex;
    flex-direction: column;
}
.resultBlock{
    display: flex;
    width: 350px;
    justify-content: space-between;

}

.buttonBlock{
    display: flex;
}
