.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: orangered;
}

.red-text {
    color: yellow;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.magenta {
    background: darkmagenta;
}

.magenta-text {
    color: lightskyblue;
}

.yellow {
    background: yellow;
}

.yellow-text {
    color: darkblue;
}
