a {
    display: block;
    width: 160px;
    height: 30px;
    margin-bottom: 10px;
}

.sidenav a {
    display: flex;
    align-content: flex-start;
    position: relative; /* Position them relative to the browser window */
    left: -60px; /* Position them outside of the screen */
    transition: 0.4s; /* Add transition on hover */
    padding: 10px; /* 15px padding */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}


.sidenav a:hover {
    left: -10px;
}

.preJunior {
    display: block;
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);

}

.preJunior:hover {
    background-color: #d95ebd;
}


.junior {
    display: block;
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    background-color: #8ebfdf;
}

.junior:hover {

    background-color: #385cd8;
}


.juniorPlus {
    display: block;
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    background-color:#357e8f;
}

.juniorPlus:hover {


    background-color: #61dafb;
}
